* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    background-color: #add8e6;
}

.menu-bar h1 {
    display: flex;
    color: #fff;
    font-size: 30px;
}

.menu-bar span {
    color: #FF8400;
}

.menu-bar {
	background-color: #FFD93D;
	height: 100px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 5%;
	position: relative;
}

.menu-bar ul {
	list-style: none;
	display: flex;
}

.menu-bar ul li {
	padding: 10px 30px;
	position: relative;
}

.menu-bar ul li a {
	font-size: 20px;
	color: #000000;
	text-decoration: none;
	transition: all 0.5s;
}

.menu-bar ul li a:hover {
	color: #fff;
}

.fas {
	padding-top: 1px;
}

.menu-bar i{
	font-size: 20px;
	color: #000000;
	margin-right: 10px;
}

.menu-bar i:hover{
	color: #fff;
}

.dropdown-menu {
	display: none;
	position: absolute;
    z-index: 100;
	border-radius: 5px;
}

.menu-bar ul li:hover .dropdown-menu {
	display: block;
	position: absolute;
	left: 0;
	top: 100%;
	background-color: #FFD93D;
}

.menu-bar ul li:hover .dropdown-menu ul {
	display: block;
	margin: 10px;
}

.menu-bar ul li:hover .dropdown-menu ul li {
	width: 150px;
	padding: 10px;
	align-items: center;
	justify-content: space-between;
	border-bottom: .1rem solid #fff;
}

.dropdown-menu-1 {
	display: none;
	border-radius: 5px;
}

.dropdown-menu ul li:hover .dropdown-menu-1 {
	display: block;
	position: absolute;
	left: 150px;
	top: 0;
	background-color: #FFD93D;
}

.dropdown-menu-2 {
	display: none;
	border-radius: 5px;
}

.dropdown-menu ul li:hover .dropdown-menu-2 {
	display: block;
	position: absolute;
	left: 150px;
	top: 0;
	background-color: #FFD93D;
}

header {
	position: relative;
	z-index: 1;
	margin-bottom: 20px;
	padding-bottom: 50px;
}

@media only screen and (max-width: 768px) {
	.menu-bar {
	  display: block;
	  height: auto;
	  padding: 15px;
	}
	.menu-bar h1 {
	  font-size: 24px;
	}

	.menu-bar .fas {
		padding: 1px;
	}
	.tombol-menu {
		display: flex;
	}
	.menu-bar ul {
	  flex-direction: column;
	}
	.menu-bar ul li {
	  padding: 10px 0;
	  position: relative;
	}
	.menu-bar ul li a {
	  font-size: 18px;
	}
	.menu-bar ul li:hover .dropdown-menu {
	  display: block;
	  position: static;
	  background-color: #FFD93D;
	}
	.dropdown-menu {
	  display: none;
	}
	.dropdown-menu-1,
	.dropdown-menu-2 {
	  display: none;
	}
  }

  @media (min-width: 768px) and (max-width: 991px) {
	.menu-bar {
		display: block;
	}
  }

body {
	font-family: sans-serif;
	background-color: #add8e6;
}

form {
	max-width: 500px;
	margin: 20px auto;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	border-radius: 5px;
}

label {
	display: block;
	font-size: 18px;
	margin-bottom: 5px;
}

input[type="text"], textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #000000;
	border-radius: 5px;
	margin-bottom: 20px;
	box-sizing: border-box;
	font-size: 16px;
}

input[type="submit"] {
	background-color: #4CAF50;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
	background-color: #FF8400;
}

input[type="submit"]:focus {
	outline: none;
}

textarea {
	resize: vertical;
}

@media (max-width: 480px) {
	form {
		padding: 10px;
	}
	input[type="submit"] {
		padding: 5px 10px;
		font-size: 14px;
	}
}

.contact-us {
	text-align: center;
	margin: 50px 0;
  }
  
  .contact-menu {
	display: inline-block;
	margin-top: 20px;
  }
  
  .contact-menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  }
  
  .contact-menu li {
	margin: 0 10px;
  }
  
  .contact-us span {
	color: #FF8400;
  }

  .contact-menu li a {
	padding: 10px 20px;
	background-color: #f8f8f8;
	color: #333;
	text-decoration: none;
	border-radius: 5px;
	transition: all 0.3s ease;
  }
  
  .contact-menu li a:hover {
	background-color: #FF8400;
	color: #fff;
  }

  footer {
	background-color: rgb(29, 29, 29);
	padding: 20px;
	text-align: center;
	font-size: 14px;
	color: #ffffff;
  }
  
  footer a {
	color: #ffffff;
	text-decoration: none;
  }
  
  footer a:hover {
	color: #000;
  }
  
  
	.copyright p {
	  color: #fff;
   }
  
  .designed {
	  color: #fff;
  }
  
  .designed span {
	  color: #FF8400;
  }

  /*/Mengatur responsif/*/
.tombol-menu{
	position: absolute;
	top: 1.3rem;
	right: 1rem;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 20px;

}
.tombol-menu .garis {
	height: 3px;
	background-color: #fff;
}

@media only screen and (max-width: 768px) {
	.menu-bar {
	  display: block;
	  height: auto;
	  padding: 15px;
	}
	.menu-bar ul {
		display: none;
		margin-top: 60px;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
	.menu-bar h1 {
	  font-size: 24px;
	}
	.tombol-menu {
		display: flex;
	}
	.menu-bar .fas {
		padding: 1px;
	}
	
	.menu-bar ul li {
	  padding: 10px 0;
	  position: relative;
	  display: none;
	}
	.menu-bar ul li a {
	  font-size: 18px;
	}
	.menu-bar ul li:hover .dropdown-menu {
	  display: block;
	  position: static;
	  background-color: #FFD93D;
	}
	.dropdown-menu {
	  display: none;
	}
	.dropdown-menu-1,
	.dropdown-menu-2 {
	  display: none;
	}
  }

  @media (min-width: 768px) and (max-width: 991px) {
	.menu-bar {
		display: block;
	}
  }
  
  /* menubar mobile */
.menu-bar2 h1 {
	flex: 1px;
	color: #fff;
	font-size: 30px;
}

.menu-bar2 h1 span {
	color: #FF8400;
}

.menu-bar2 {
	display: none;
	background-color: #FFD93D;
	height: max-content;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 0 5%;
	position:relative;
}

.menu-bar2 ul {
	list-style: none;

}

.menu-bar2 ul li {

	padding: 10px 30px;
	position: relative;
}

.menu-bar2 ul li a {

	font-size: 20px;
	color: #000000;
	text-decoration: none;
	transition: all 0.5s;
}

.menu-bar2 ul li a:active {
	color: #fff;
}

.menu-bar2 ul li a:hover {
	color: #fff;
}

.fas {
	padding-top: 1px;
}

.menu-bar2 i{
	font-size: 20px;
	color: #000000;
	margin-right: 10px;
}

.menu-bar2 i:hover{
	color: #fff;
}

.dropdown-menu {
	display: none;
	position: absolute;
        z-index: 100;
	border-radius: 5px;
}

.menu-bar2 ul li:hover .dropdown-menu {
	display: block;
	position: absolute;
	left: 0;
	top: 100%;
	background-color: #FFD93D;
}

.menu-bar2 ul li:hover .dropdown-menu ul {
	display: block;
	margin: 10px;
}

.menu-bar2 ul li:hover .dropdown-menu ul li {
	width: 150px;
	padding: 10px;
	align-items: center;
	justify-content: space-between;
	border-bottom: .1rem solid #fff;
}

.dropdown-menu-1 {
	display: none;
	border-radius: 5px;
}

.dropdown-menu ul li:hover .dropdown-menu-1 {
	display: block;
	position: absolute;
	left: 150px;
	top: 0;
	background-color: #FFD93D;
}

.dropdown-menu-2 {
	display: none;
	border-radius: 5px;
}

.dropdown-menu ul li:hover .dropdown-menu-2 {
	display: block;
	position: absolute;
	left: 150px;
	top: 0;
	background-color: #FFD93D;
}
